html * {
    font-family: 'Courier New', Courier, monospace;
}

#frame {
    /* border: solid;
    border-color: yellow; */
    background-color: black;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#display {
    border: solid;
    border-width: 1%;
    display: grid;
    flex-direction: column;
    background-color: gray;
    margin: 0;
    max-height:15%;
    width: 100%;
    height: 100%;
    text-align: right;
    font-weight: bold;
    font-size: xx-large;

}
#lower {
    border: solid;
    height: 100%;
    width: 100%;
    display: grid;
    flex-direction: column;
}

#user-entry, #answer {
    /* border: solid;
    border-color: blue; */
    height: 50%;
    width: 100%;
    padding: 0;
}

.keys {
    /* border: solid;
    border-color: green; */
    display: flex;
    height: 100%;
}

.number, .operator, .equals, .clear {
    /* border: solid;
    border-width: 1px; */
    color: white;
    font-weight: bold;
}



/* <!-- HTML !-->
<button class="button-55" role="button">Button 55</button> */

/* CSS */
.number, .operator, .equals, .clear {
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  /* box-sizing: border-box; */
  color: white;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  /* height: 48px; */
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.number:hover {
  background-color: #082387;
}

.clear:hover {
    background-color: #876D08;
}

.operator:hover {
    background-color: #872D08;
}

.equals:hover {
    background-color: #08872D;
}

.number, .operator, .equals {
    background-color: #380AA7;
    width: 25%;
    height: 100%;
}

.clear {
    width:75%;
    background-color: #A7860A;
    color: black;
}

.operator {
    background-color: #A7380A;
}

.equals {
    background-color: #0AA738;
}

#zero {
    width: 50%;
}