html * {
    font-family: 'Courier New', Courier, monospace;
}

#frame {
    /* border: solid;
    border-color: yellow; */
    background-color: black;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#display {
    /* border: solid;
    border-color: indigo; */
    display: flex;
    flex-direction: column;
    background-color: gray;
    margin: 0;
    max-height:15%;
    width: auto;
    height: 15%;
    text-align: right;
    font-size: 100%;

}
#lower {
    /* border: solid;
    border-color: hotpink; */
    height: 100%;
    display: flex;
    flex-direction: column;
}

#user-entry, #answer {
    /* border: solid;
    border-color: blue; */
    height: 50%;
    width: 100%;
    padding: 0;
}

.keys {
    /* border: solid;
    border-color: green; */
    display: flex;
    height: 100%;
}

.number, .operator, .equals, .clear {
    border: solid;
    color: black;
    background-color: gray;
    margin: 1%;
    width: 25%;
    height: 100%;
}

.equals {
    background-color: green;
}

.clear {
    background-color: orange;
}

.operator {
    background-color: rgb(230, 90, 90);
}
